<ion-modal-view class="ga-modal modal-m modal-current-order">
	<ion-header-bar>
		<h1 class="title">Thông báo</h1>
	</ion-header-bar>
	<ion-content>
		<div class="modal-sms">
			Mã xác nhận Email đã được gửi về Email của bạn. Hãy xác nhận lại theo đường link được gửi kèm trong Email!
		</div>
		<div class="row button-yesno">
			<div class="col-33"></div> <button class="col col-33 button button-balanced" ng-click="vm.close()" ui-sref="app.login">OK</button>
		</div>
	</ion-content>
</ion-modal-view>
